name: myapp
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations: # Adicionado para l10n
    sdk: flutter         # Adicionado para l10n
  firebase_core: ^4.3.0
  firebase_auth: ^6.1.3
  provider: ^6.1.5+1
  google_fonts: ^6.3.3
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true # Adicionado para l10n
